advanced/haproxy/certs.d/**
advanced/haproxy/letsencrypt/**
tb-node/log/**
tb-node/data/**
tb-node/db/**
tb-node/postgres/**
tb-node/cassandra/**
tb-node/valkey-cluster-data-0/**
tb-node/valkey-cluster-data-1/**
tb-node/valkey-cluster-data-2/**
tb-node/valkey-cluster-data-3/**
tb-node/valkey-cluster-data-4/**
tb-node/valkey-cluster-data-5/**
tb-node/valkey-sentinel-data-primary/**
tb-node/valkey-sentinel-data-replica/**
tb-node/valkey-sentinel-data-sentinel/**
tb-node/valkey-data/**
tb-transports/*/log
tb-integration-executor/log/
tb-vc-executor/log/
!.env
*/.idea/**
.idea/**
.idea
*.iml
